<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.PaddysAssignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.LoginActivity" />
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.RegisterActivity" />
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.ResetPasswordActivity" />
        <activity
            android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.CustomerSetUp"
            android:label="@string/title_activity_customer_set_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.AdminMenu" />
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.AccountActivity.MainFeed" />
        <activity android:name="com.example.apple.PaddysAssignmentBookStore.BookStore.AddBook" />
    </application>

</manifest>